@mixin container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  min-width: $width-mobile;
  max-width: $width-desktop;

  @media (min-width: $width-desktop-hd) {
    padding: 0;
  }
}

@mixin btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;

  text-align: center;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin link-reset {
  color: inherit;
  text-decoration: inherit;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin input-reset {
  display: block;
  box-sizing: border-box;
  width: 100%;

  border: none;
  background-color: transparent;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin select {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 23px;

    box-sizing: border-box;
    width: 10px;
    height: 10px;

    border: 1px solid $color-prime;
    border-top: none;
    border-right: none;
    transform: translateY(-75%) rotate(-45deg);
  }

  select {
    padding: 0 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    color: $color-prime;
    font-family: inherit;

    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 54px;
    appearance: none;
  }
}
