$width-mobile: 320px;
$width-tablet-s: 480px;
$width-tablet-m: 768px;
$width-tablet-l: 992px;
$width-laptop: 1024px;
$width-desktop: 1280px;
$width-desktop-hd: 1366px;
$color-prime: #4ad270;
$color-second: #242a2e;
$color-text: #303030;
$color-body: #f4f4f4;
$hover-time: 0.2s;
