$width-mobile: 320px;
$width-tablet-s: 480px;
$width-tablet-m: 768px;
$width-tablet-l: 992px;
$width-laptop: 1024px;
$width-desktop-s: 1200px;
$width-desktop-l: 1680px;
$color-prime: #4ad270;
$color-second: #242a2e;
$color-text: #303030;
$hover-time: 0.2s;
