-
  var navItems = [
    'О компании',
    'Заёмщику',
    'Вопросы',
    'Контакты'
  ];

header.page-header
  .page-header__wrapper
    button.page-header__nav-toggle.nav-toggle.nav-toggle--active.btn.btn--prime.btn--circle.js-nav-toggle(
        type="button"
        aria-label="Открыть/закрыть меню")

    a.page-header__logo.logo.logo--white.js-logo(href="index.html")
      b Cash
      span online

    a.page-header__link.page-header__link--desktop(href="tel:81234567890")
      svg(width="13", height="13")
        use(href="#phone")

      b 8 123 45 67 890

    a.page-header__link.page-header__link--underline.page-header__link--desktop(href="#")
      svg(width="9", height="13")
        use(href="#location")

      span Ростов-на-Дону

    nav.page-header__nav.main-nav.main-nav--desktop
      ul.main-nav__list

        each item in navItems
          li.main-nav__item
            a.main-nav__link(href="#")= item

    .page-header__user-area.user-area
      a.user-area__link(href="#")
        span.user-area__sign.user-area__sign--transparent.js-user-area-sign.btn.btn--prime.btn--circle(href="#")
          svg(width="13", height="15")
            use(href="#user")

        span.user-area__text Личный кабинет

  .page-header__mobile-menu.js-mobile-menu
    .page-header__wrapper
      nav.page-header__nav.main-nav--mobile
        ul.main-nav__list

          each item in navItems
            li.main-nav__item
              a.main-nav__link(href="#")= item

      a.page-header__link.page-header__link--mobile(href="tel:81234567890")
        svg(width="13", height="13")
          use(href="#phone")

        b 8 123 45 67 890

      a.page-header__link.page-header__link--underline.page-header__link--mobile(href="#")
        span Заказать обратный звонок

      a.page-header__loan.btn.btn--default.btn--prime(href="#") Оформить займ
