.btn {
  @include btn;

  transition-duration: $hover-time;

  &:active {
    opacity: 0.7;
  }

  &--prime {
    color: #ffffff;
    background-color: $color-prime;
    border: 1px solid $color-prime;
    transition-property: color, background-color;

    &:hover,
    &:focus,
    &:active {
      color: $color-prime;
      background-color: transparent;
    }
  }

  &--circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &--default {
    padding: 15px 39px;

    font-weight: 600;
    font-size: 13px;
    line-height: 1.3;

    border-radius: 97px;
    box-shadow: 0 6px 20px rgba(74, 210, 112, 0.6);

    transition-property: box-shadow;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 0 transparent;
    }
  }
}
