.logo {
  @include link-reset;

  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  transition: color $hover-time;

  &:active {
    opacity: 0.7;
  }

  &[href] {
    &:hover,
    &:focus,
    &:active {
      outline: none;
      color: $color-prime;
    }
  }

  &--white {
    color: #ffffff;

    &:hover,
    &:focus,
    &:active {
      color: $color-prime;
    }
  }

  * {
    display: block;
  }

  b {
    font-weight: 600;
  }
}
