.logo {
  @include link-reset;

  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;

  &--white {
    color: #ffffff;
    transition: color $hover-time;

    &:hover,
    &:focus,
    &:active {
      color: $color-prime;
    }
  }

  * {
    display: block;
  }

  b {
    font-weight: 600;
  }
}
