.main-nav {
  &--desktop {
    display: none;

    @media (min-width: $width-tablet-l) {
      display: block;
    }
  }
}

.main-nav__list {
  @include list-reset;

  @media (min-width: $width-tablet-l) {
    display: flex;
  }
}

.main-nav__link {
  @include link-reset;

  display: block;
  padding-top: 8px;
  padding-bottom: 7px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: capitalize;
  text-align: left;

  transition: color $hover-time;

  @media (min-width: $width-tablet-l) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $color-prime;
  }

  &:active {
    opacity: 0.7;
  }
}
