.nav-toggle {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;

    width: 13px;
    height: 2px;

    background-color: #171a1e;
    transform: translate(-50%);
  }

  &::before {
    top: 12px;
    box-shadow: 0 4px 0 #171a1e;
  }

  &::after {
    bottom: 11px;
  }

  &--active {
    background-color: transparent;
    border-color: transparent;

    &::before,
    &::after {
      top: 50%;
      width: 20px;
      height: 3px;
      background-color: #ffffff;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
