.page-header {
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 21px;

  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-text;

  background-color: #ffffff;

  @media (min-width: $width-tablet-l) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    min-height: 85px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
}

.page-header__wrapper {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $width-tablet-l) {
    justify-content: flex-start;
    width: 100%;
  }
}

.page-header__link {
  @include link-reset;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;

  &:hover,
  &:focus,
  &:active {
    outline: none;

    b {
      color: $color-prime;
      transition: color $hover-time;
    }
  }

  &:active {
    opacity: 0.7;
  }

  &--underline {
    * {
      &:not(svg) {
        text-decoration: underline;
      }
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;

      * {
        &:not(svg) {
          text-decoration: none;
        }
      }
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $width-tablet-l) {
      display: block;
      margin-right: 30px;
    }

    &:last-of-type {
      @media (min-width: $width-tablet-l) {
        margin-right: auto;
      }
    }
  }

  * {
    vertical-align: middle;
  }

  svg {
    margin-right: 10px;
  }
}

.page-header__mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  padding-top: 92px;
  padding-bottom: 65px;

  color: #ffffff;

  background-color: $color-second;

  @media (min-width: $width-tablet-l) {
    display: none;
  }

  &--hidden {
    display: none;
  }

  .page-header__wrapper {
    display: block;
    text-align: center;
  }

  .page-header__link {
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
}

.page-header__nav {
  margin-bottom: 92px;

  @media (min-width: $width-tablet-l) {
    margin-bottom: 0;
    margin-right: 30px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 50px;
  }
}

.page-header__nav-toggle {
  z-index: 20;

  @media (min-width: $width-tablet-l) {
    display: none;
  }
}

.page-header__logo {
  z-index: 20;

  @media (min-width: $width-tablet-l) {
    margin-right: 30px;
  }
}

.page-header__user-area {
  z-index: 20;
}

.page-header__loan {
  @include link-reset;
  margin-top: 30px;
}
