.user-area {
  display: flex;
  align-items: center;
}

.user-area__sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #171a1e;

  @media (min-width: $width-laptop) {
    margin-right: 10px;
  }

  &--transparent {
    color: $color-prime;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color: $color-prime;
    }
  }
}

.user-area__link {
  @include link-reset;

  font-weight: 400;
  font-size: 14px;
  line-height: 1;

  @media (min-width: $width-tablet-l) {
    display: flex;
    align-items: center;
  }

  .user-area__text {
    display: none;

    @media (min-width: $width-laptop) {
      display: block;
    }
  }
}
