.user-area {
  display: flex;
  align-items: center;
}

.user-area__sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #171a1e;

  &--transparent {
    color: $color-prime;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color: $color-prime;
    }
  }
}

.user-area__link {
  @include link-reset;

  font-weight: 400;
  font-size: 14px;
  line-height: 1;

  .user-area__text {
    display: none;
  }
}
